@font-face {
  font-family: "Flaticon";
  src: url("../Flaticon_WebFont/flaticon.eot");
  src: url("../Flaticon_WebFont/flaticon.eot#iefix") format("embedded-opentype"),
  url("../Flaticon_WebFont/flaticon.woff") format("woff"),
  url("../Flaticon_WebFont/flaticon.ttf") format("truetype"),
  url("../Flaticon_WebFont/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.content {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  height: 1000px;
  justify-content: center;
  -webkit-justify-content: center;
}

.tagbox {
  font-size: 32px;
}

.pipe {
  fill: hsla(0, 100%, 0%, 0.0);
  stroke-width: 1;
  stroke: #888;
}

svg {
  font-size: 20px;
  font-family: futura, sans-serif;
}

svg text {
  fill: white;
}

.moving-concept {
  fill: white;
  font-family: Flaticon;
  font-size: 48px;
  margin-left: 20px;
}

.station {
  stroke: #777;
  /*stroke-width: 3;*/
  fill: #fff;
}

.station-label {
  font-size: 24px;
  text-align: center;
  text-anchor: middle;
}

#cloud {
  stroke: #101418;
  stroke-width: 3px;
}

.renderer-label {
  fill: #101418;
}

.parser-label {
  fill: #101418;
}

#block-layer text {
  font-size: 72px;
  fill: hsl(130, 70%, 60%);
}

#smocial-icon {
  stroke: none;
  fill: #101418;
}

#outer-balloon {
  fill: #101418;
}

#smocial-icon g > :not(#outer-balloon) path {
  fill: #282a30;
}

#smocial-tired {
  fill: #282a30;
}

#outer-balloon ellipse {
  fill: white;
}

footer {
  margin-top: 5em;
  color: #666;
}

footer a {
  color: #888;
}
